//Dispay for all main-page app modals
btn.back-arrow
  i.icon-back
//Dispay for FuzzFile page (for the future — for the blog page)
  a.brand-logo(href="main.html")
    i.icon-logo
h2.title {{item.title}}
//Dispay for FuzzFile page (for the future — for the blog page)
  h2.section-title.fuzz-file
    |Fuzz
    span.alt Profile
.nav-trigger.nav-trigger-white
  span
  span
  span

//navBlock class options:
//    .nav-block-orange - for .lost-pet-page-wrapper and .lost-pet-post-wrapper
//    .nav-block-green - for .found-pet-page-wrapper and .found-pet-post-wrapper
//    .nav-block-blue - for .pet-sightings-page-wrapper and .file-edit-wrapper
//    .nav-block-dark-blue - for .fuzz-chat-wrapper
//    .nav-block-blue-dark - for FuzzFile Page