.step-icon.step-1
  .icon-photo-edit
.devider.step-2
.step-icon.step-2
  .icon-location
.devider.step-3
.step-icon.step-3
  .icon-fuzz-description

//navBlock class options:
//    .progress-orange - for .lost-pet-page-wrapper
//    .progress-green - for .found-pet-page-wrapper

//when ancete modal window is opened has class .step-1
//during working with ancete steps changes to .step-2 and .step-3

//Requires fontello.sass