navBlock
//Please, add class (look at navBlock description)
.chat-wrapper
  //Loop of posts
  chatMessage
.message-input.form-group
  input.form-control(placeholder="Enter message")
  button.btn.btn-message
    span.icon-fuzz-flash