//photoViewer class options:
  .wrapper-cat - for .lost-pet-page-wrapper
  .wrapper-dot - for .found-pet-page-wrapper
  .empty - no photo uploaded
  .done - photo uploaded 
  .comment-preview - for lost/found post, add class .photo-added to the .post-comment to show preview block

//add uploaded photo via inline background-image style

.preview-holder
  i.icon-photo-edit
  button.btn-remove