//photoPreview class options:
  .photo-wrapper-purple - for lost-pet-post
  .photo-wrapper-green - for found-pet-post

.photo(style="background-image: url('../img/app/sightings-pet-4.png')")
h3.label Last Seen 2 Hours Ago